html {
    font-size: 1rem;
}

body{
    font: 300 1rem/1.8 PingFang SC,Lantinghei SC,-apple-system,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    background-color: rgb(247, 235, 205);
    margin: 0;
    padding: 0;
}

.title{
    color : #777;
    font-size : 400%;
    margin: 0 1rem;
}

.title-line{
    height: 3px;
    background-color: #DDD;
}

.content{
    color : #555;
    max-width: 777px;
}

.content .article {
    padding: 1rem 0.5rem;
}

.doc{
    padding: 1rem;
    border : 1px solid #AAA;
}