html {
    font-size: 1rem;
    font: 300 1rem/1.8 PingFang SC,Lantinghei SC,-apple-system,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    background-color: rgb(214, 194, 143);
}

body,div,h1,h2,h3,h5,h6{
    margin: 0;
    padding: 0;
    color : #555;
}

body{
    margin: 1rem auto;
    max-width : 49rem;
    box-shadow: 0 0 2px #555;
    border-radius: 15px;
    background-color: rgb(150,150,150);
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 136px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    border-bottom: 1px dashed #FFF;
}

#header .h-t ul{
    display: block;
    margin : 0;
    padding: 0;
    list-style: none;
    background-color: rgb(150, 150, 150);
}

#header .h-t ul li {
    display: table-cell;
}

#header .h-t ul li a{
    text-align: center;
    padding: 0 1rem;
    display: inline-block;
    text-decoration : none;
    color : #EEE;
}

#header .h-t ul li a:hover {
    background-color: rgb(206, 155, 79);
    color : #FFF;
}

#header .h-c {
    background-color: #FFF;
    flex-grow: 1;
}

#header .h-c .title{
    margin-left: 0;
}

#header .h-c .title a{
    display: inline-block;
    font-size: 120%;
    transform: rotate(-45deg);
    text-decoration: none;
    color : rgb(219, 64, 3);
    font-weight: bold;
    text-shadow: -1px -1px rgb(250, 191, 81), 1px 1px rgb(88, 88, 88), 3px 9px 12px #000;
}

#header .h-c .title a:hover{
    text-shadow: -1px -1px #FFF, 1px 1px #333, 3px 9px 12px #000;
}

#header .h-c .addr{
    display: inline-block;
    margin : 0.5rem 1.5rem;
    color : #777;
}

#body{
    margin: 0;
    padding: 0;
}

#body a{
    color : #444;
}

#body .doc{
    padding: 2.5rem;
    background-color: #FFF;
}

#body .doc-title{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #EEE;
}

#body .doc-content {
    margin : 0;
    padding: 0;
}

#body .doc-links {
    margin-top: 1rem;
    min-height: 9rem;
}

#body .doc-links ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0.1rem;
}

#body .doc-links ul li {
    margin: 0.4rem 0;
    padding: 0.3rem 1rem;
    border : 1px solid #F0F0F0;
    cursor: pointer;
    border-radius: 3px;
}

#body .doc-links ul li:hover{
    background-color: #EEE;
}

#body .doc-links ul li a{
    text-decoration: none;
    display: block;
}

#body .do-list li{
    position: relative;
    display: table;
}

#body .do-list a {
    text-decoration: none;
}

#body .do-list a:hover{
    color : rgb(53, 181, 231);
}

#footer{
    font-size: 80%;
    text-align: center;
    height: 2.8rem;
    line-height: 2.8rem;
    background-color: #FFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#footer a{
    text-decoration: none;
    color : rgb(87, 89, 214);
}

.popbox{
    z-index: 10;
    display: none;
    position: absolute;
    left : -1rem;
}

.popbox span{
    font-size: 90%;
    color : #666;
    text-shadow: 0 0 1px #AAA;
    min-width: 17rem;
    padding: 0.5rem;
    display: table;
    border : 1px solid #888;
    background-color: #FAFAFA;
    box-shadow: 1px 1px #999, 2px 2px #999, 3px 3px #999, 4px 4px #999, 5px 5px #888, 6px 6px 6px #333;
}

#body .do-list li:hover> .popbox{
    display: block;
}