html {
    font-size: 1rem;
    font: 300 1rem/1.8 PingFang SC,Lantinghei SC,-apple-system,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    background-color: #fdf6e3;
}

body{
    margin: 0;
    padding: 0;
    padding: 1em;
    font-size: 1em;
    margin: 1rem auto;
    max-width : 45em;
}

body a{
    color : #333;
    text-decoration: none;
}

div {
    margin: 0;
    padding: 0;
}

#header{
    border-bottom: 2px solid #EEE;
    margin-bottom: 2em;
}

#header .title{
    padding-bottom: 0.1em;
}

#header a {
    font-weight: bold;
    color : #333;
    text-decoration: none;
}

#body .doc-title{
    font-weight: bold;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #EEE;
}

#body .doc-content {
    padding: 0.3em;
}

#body ul{
    list-style: none;
    padding-left: 0;
}

#body ul li{
    position: relative;
}

#body ul li a:hover{
    color : skyblue;
}

#footer{
    font-size: 80%;
    text-align: center;
    height: 2.8rem;
    line-height: 2.8rem;
}

#footer a{
    text-decoration: none;
    color : rgb(87, 89, 214);
}

.popbox{
    z-index: 10;
    display: none;
    position: absolute;
    left : -1rem;
}

.popbox span{
    font-size: 0.8em;
    max-width : 36em;
    padding: 0.5rem;
    display: table;
    border : 1px solid #BBB;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: 3px 3px 5px #DDD;
}

#body ul li:hover>.popbox{
    display: block;
}