html {
    font-size: 1rem;
    font: 300 1rem/1.8 PingFang SC,Lantinghei SC,-apple-system,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    background-color: #fdf6e3;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

div {
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    background-color: rgb(230, 188, 140);
}

#header .title{
    padding-left: 0.2em;
}

#header a {
    color : #FFF;
    text-decoration: none;
    text-shadow: 1px 1px #666,2px 2px #666,3px 3px #666,4px 4px 3px #666;
}

#header a:hover{
    color : #EEE;
}

#body{
    margin: 1em auto;
    padding: 0 0.2em;
    max-width : 45em;
}

#body .doc{
    margin : 0.2em;
}

#body .doc a{
    color : #333;
    text-decoration: none;
}

#body .doc a:hover{
    color : skyblue;
}

#body .doc-title{
    font-weight: bold;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #EEE;
}

#body .doc-content {
    padding: 0.3em;
}

#body .doc-content>ul{
    list-style: none;
    padding-left: 0;
}

#body .doc-content>ul li{
    position: relative;
}

#footer{
    font-size: 80%;
    text-align: center;
    height: 2.8em;
    line-height: 2.8em;
}

#footer a{
    text-decoration: none;
    color : rgb(87, 89, 214);
}

.popbox{
    z-index: 10;
    display: none;
    position: absolute;
    left : -1em;
    max-width: 30em;
}

.popbox span{
    font-size: 0.8em;
    padding: 0.5em;
    display: table;
    border : 1px solid #BBB;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    box-shadow: 3px 3px 5px #DDD;
}

#body ul li:hover>.popbox{
    display: block;
}

pre{
    padding: 1em;
    background-color: rgb(214, 206, 206);
}

code{
    color : green;
}

code:before{
    content: ' ';
}

code:after{
    content: ' ';
}